h1 {
  text-align: center;
  color: skyblue;
}

#main-menu {
  position: absolute;
  background-color: #222;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title-canvas {
  display: block;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.hiscore-list {
  margin-top: 2%;
  margin-left: 50%;
  margin-bottom: 4%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  justify-content: space-evenly;
}

.hiscore-item {
  font-size: 1.1em;
  display: grid;
  width: 90%;
  grid-template-columns:  30% 30% 40%;
  color: skyblue;
}

.hiscore-labels{
  margin-top: 4%;
  margin-left: 50%;
  transform: translate(-50%);
}

.label {
  color: skyblue;
  justify-self: center;
}

.hiscore-text {
  color: firebrick;
  justify-self: center;
}

