<div id="main-wrapper">
  <div class="info-wrapper">
    <p class="label">SCORE</p>
    <p id="score">{{game.score || 0}}</p>
  </div>
  <div class="info-wrapper">
    <p class="label">LINES</p>
    <p class="info"> {{game.linesCleared || 0}}</p>
  </div>
  <div class="info-wrapper">
    <p class="label">LEVEL</p>
    <p class="info"> {{game.level || 0}}</p>
  </div>
  <div class="info-wrapper">
    <p id="label-next">NEXT </p>
    <div id="canvas-wrapper">
      <app-board-canvas
        [blockSize]="blocksize"
        [board]="game.nextPiece.shape"
        [drawBackground]="false"
      ></app-board-canvas>
    </div>
  </div>
  
  <div class="button-wrapper">
    <ng-container *ngIf="game.state==='ready';then startGameButton; else newGameButton">
    </ng-container>
    <ng-template #startGameButton>
      <button class="menu-button" (mousedown)="onStartGameClick()">
        <div class="button-text">START</div>
      </button>
    </ng-template>
    <ng-template #newGameButton>
      <button class="menu-button" (mousedown)="onNewGameClick()">
        <div class="button-text">NEW GAME</div>
      </button>
    </ng-template>
    <button class="menu-button" (mousedown)="onHighscoreClick()">
      <div class="button-text">HIGHSCORE</div>
    </button>
  </div>