<div id="main-wrapper">
  <div class="info-wrapper">
    <p class="label">SCORE</p>
    <p id="score">{{score || 0}}</p>
  </div>
  <div class="info-wrapper">
    <p class="label">LINES</p>
    <p class="info">  {{linesCleared || 0}}</p>
  </div>
  <div class="info-wrapper">
    <p class="label">LEVEL</p>
    <p class="info">  {{level || 0}}</p>
  </div>
  <div class="info-wrapper">
    <p id="label-next">NEXT </p>
    <div id="canvas-wrapper">
      <canvas #nextPiece id="next-canvas"></canvas>
    </div>
  </div>
  <button class="menu-button" (click) = "onMenuClick()">MENU</button>
</div>
