
.label, #label-next {
  color: skyblue;
  font-size: 1em;
  margin: 0;

}

.info, #score {
  margin: 1vh;
  color: crimson;
}

.info {
  font-size: 2em;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-text {
  color: skyblue;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(90%);
  margin-left: calc(5%);
}

.button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#label-next {
  margin-bottom: 2vh;
}

#main-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.menu-button {
  color: skyblue;
  font-size: 1em;
  padding: 0;
  margin-top: 0.2em;
  background: linear-gradient( #555, #222);
  border-radius: 0.8em;
  border: 0.3vh solid lightcyan;
  width: 95%;
  height: 2em;
  text-overflow: ellipsis;
}

.menu-button:hover {
  box-shadow: 0 0.3rem 0.3rem -0.2rem;
  transform: translateY(-0.10em);
}

.menu-button:active {
  border: 0.3vh solid lightblue;
}

#canvas-wrapper {
  height: 60px;
}

#score {
  margin: 1vh;
  font-size: 2em;
}
