<div class="game-container">
  <div id="canvas-wrapper">
    <app-game-over *ngIf="game.state === 'gameover'"
     id="game-over"
     [score] = "game.score"
    ></app-game-over>

    <app-board-canvas 
      id="game-canvas"
      [drawBackground]="true"
      [board]="gameBoard"
      [blockSize]="blocksize"
    ></app-board-canvas>

    <div *ngIf="menuOn === true && game.isRunning() === false" id='main-menu'>
      <app-highscore
        [onResize]="calculateBlocksize.bind(this)"
      ></app-highscore>
     </div>
  </div>

  <app-sidebar #sidebar
    [blocksize]= "blocksize"
    id = "game-sidebar"
    [style.width] = "getNextCanvasWidth()"
    [onHighscoreClick]="toggleMenu.bind(this)"
    [onNewGameClick]="newGame.bind(this)"
    [onStartGameClick]="onStartGameClick.bind(this)"
  ></app-sidebar>
</div>

