h1 {
  text-align: center;
  font-size: 3em;
  margin: 2vh 0vh 0vh 0vh;
}

.game-container {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
}

#canvas-wrapper {
  position: relative;
  margin-right: 1vw;
  border-radius: 3px;
  border: 5px solid lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#game-canvas {
  min-width: 200px;
  min-height: 400px;
}

#game-sidebar {
  border: 5px solid lightcyan;
  border-radius: 3px;
  min-width: 80px;
}

#game-over { 
  position: absolute;
  width: 100%;
  height: 100%;

}

#main-menu {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}
