button {
    color:firebrick;
    font-size: 1em;
}

#gameover-message {
    font-size: min(15vw, 15vh);
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem black;
    color: red;
    top: 5%;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#gameover-popup {
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
}

#add-highscore {
    background-color: #222;
    min-height: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1em;
    border: 0.2em solid firebrick;
    color: skyblue;
}

#input {
    color: firebrick;
    border-radius: 1em;
    padding-left: 1em;
    font-size: 1em;
    width: 60%;
    left: 50%;
}

#input:focus {
    outline: none;
}

#input-line {
    display: flex;
    justify-content: center;

}

.info-text {
    color: skyblue;
}

.info-highlight {
    color: firebrick;
}